
.ipynb_checkpoints/Creatures-checkpoint.ipynb
.ipynb_checkpoints/Discord Stuff-checkpoint.ipynb
.ipynb_checkpoints/HexagonGrid-checkpoint.ipynb
.ipynb_checkpoints/FATE-checkpoint.ipynb
__pycache__/BruteJusticeGrid.cpython-36.pyc
.ipynb_checkpoints/New Eggs-checkpoint.ipynb
__pycache__/BruteJusticeSpreadsheets.cpython-36.pyc
asdf.png
client_secret.json
credentials.json

google_api_key
foo.png
Grid.png
DiscordBot_old.py
Default Grid.png
temp grid.png
test.png
testing.png
quickstart.py
__pycache__/quickstart.cpython-36.pyc
*.pyc
Notebooks/.ipynb_checkpoints/New Eggs-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Creatures-checkpoint.ipynb
embed_example.rtf
